* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(2, 58, 65);
    color: white;
    font-family: "Poppins", sans-serif;
   
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(5, 70, 83);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

.left {
    font-size: 1.5rem;
    padding-left: 7%;

}
.right{
    padding-left: 10%;
    margin-left: 15%;
    
}
.orange{
    color: rgb(194, 188, 114);
}
.flexible-cintainer{
    display: flex;
    
}
.half-width{
    width: 70%;
    padding-left: 10%;
    font-size: large;
    
    
}

main{
    margin-top: 5%;
}
.half-width img{
    width: 90%;
    
} 
.link-button{
    text-decoration: none;
    color: white;
    
    background-image: linear-gradient(rgb(4, 110, 61), rgb(199, 146, 1));
    padding: 10px 40px ;
    border-radius: 5px;
    font-weight: 700;
}
.dream-big{
    margin-top: 150px;
}
.flexible{
    display: flex;
    margin-top: 50px;
    
}
.width-one{
    width: 50%;
    padding: 30px 40px 40px 10px;
    box-shadow: 10px 10px 40px rgb(0, 0, 0);
    margin-left: 10%;
    margin-right: %;  
}
.width-two{
    width: 50%;
    
    box-shadow: 10px 10px 40px rgb(0, 0, 0);
    margin-left: 5%;
    margin-right: 4%;
    padding-top: 30px;
    
}
.right-width{
    padding-left: 10%;
  
}
.left-width{
    padding-left:10%;
    
}
.experiences{
    margin-top: 30px;
    margin-bottom: 100px;
}
#first{
   
    display: flex;
    justify-content: space-around;
}
.red{
    color: rgb(106, 235, 0);
}

