* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(2, 58, 65);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(5, 70, 83);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

.left {
    font-size: 1.5rem;
}
.orange{
    color: rgb(147, 248, 147);
}
section{
    display: flex;
}
.half-width{
    width: 70%;
    padding-left: 10%;
}
main{
    margin-top: 5%;
}
.half-width img{
    width: 90%;
    
} 
.link-button{
    text-decoration: none;
    color: white;
    
    background-image: linear-gradient(rgb(255, 17, 0), rgb(217, 255, 0));
    padding: 10px 40px ;
    border-radius: 5px;
    font-weight: 700;


    
}
.half-width {
    font-weight: 900;
    
}
    

}
